/* globals.css */
@import "./css/variables.css";
@import "./css/forms.css";
@import "./css/keyframes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background: var(--background);
}

.app-container {
    display: flex;
    height: 100vh;
}

main {
    flex-grow: 1;
    padding: 20px;
}
