/* globals.css */
@import "./css/variables.css";
@import "./css/forms.css";
@import "./css/keyframes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background: var(--background);
}

main {
    flex-grow: 1;
    padding: 35px;
    color: var(--foreground) !important;
}

.app-container {
    display: flex;
    height: 100vh;
}


/* Default typography styling */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}


/* Special Ant-Design styles */
.ant-divider-inner-text {
    color: var(--foreground) !important;
}

.ant-divider {
    border-color: var(--foreground) !important;
}

.ant-collapse-header {
    color: var(--foreground) !important;
}


@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
